header {
  padding: 18px 40px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-text {
  font-size: 21px;
}

.navbar-logo > img {
  margin-right: 10px;
}
